@import "variables";
@import "mixin";

main{
    .color{
        p{
            color: white !important;
        }
        h5{
            font-size: 2em;
        }
        .flex_img{
            display: flex;
            align-items: center !important;
            justify-content: center !important;
        }
    }
}