@mixin flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flexCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin flexCardsResp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin resp {
    width: 100%;
    margin-bottom: 0!important;
}

@mixin titular{
    margin-top: 50px !important;
    margin-bottom: 30px !important;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    }