@import "index";
@import "arte";
@import"exhibiciones";
@import "reserva";
@import "variables";
@import "mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow', sans-serif;
}

header{
    nav{
        .flexNav{
            display: flex;
            justify-content: center;
            align-items: center !important;
        }
        ul{
            list-style: none;
        }
        p{
            margin: 1rem;
            color: white;
            font-size:19px !important;
        }
    }
}

footer{
    img :hover{
        width: 2em;
    }
}

@media (max-width:500px){
    header{
        .logo_resp{
            width: 60px;
        }
        nav{
            .flexNav{
                margin-bottom: 0;
                padding-left: 0;
                p{
                   font-size: 14px !important;
                }
            }
        }
    }
}    