@import "variables";
@import "mixin";

main{
    .headerForm {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }
    
    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
    .aire{
        margin-top: 40px;
        margin-bottom: 40px;
    }
}